@import "tailwindcss";

:root {
  --header-bg: #1e3965;
  --header-text: #fff;
  --sidebar-bg: #1e3965;
  /* linear-gradient(180deg, #4a90e2, #357abd); */
  --sidebar-text: #fff;
}

/* 基础样式 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
}